name: build

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  build-node:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: ['20', '22', '24']
    steps:
    - uses: actions/checkout@v6
    - name: Setup Node.js ${{ matrix.node }}
      uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node }}
    - name: Install
      run: npm install
    - name: Build and test
      run: npx node-gyp rebuild && npx jest
  build-bun:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Setup bun
      uses: oven-sh/setup-bun@v2
      with:
        bun-version: latest
    - name: Install
      run: bun install
    - name: Build and test
      run: bun node-gyp rebuild && bun jest
  build-win:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v6
    - name: Setup Node.js LTS
      uses: actions/setup-node@v6
      with:
        node-version: lts/*
    - name: Install
      run: npm install
    - name: Build and test
      run: npx node-gyp rebuild && npx jest
  build-mac:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v6
    - name: Setup Node.js 22.9.0
      uses: actions/setup-node@v6
      with:
        node-version: lts/*
    - name: Install
      run: npm install
    - name: Build and test
      run: npx node-gyp rebuild && npx jest
